{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'navbar.html' %}
<h1 class="font-krona text-2xl text-black">TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>
<h1>TESTING TESTING</h1>

{% include 'footer.html' %}
{% endblock %}