{% extends 'base.html' %} {% block content %}

<div class="max-w-3xl mx-auto px-4 py-12 mt-14">
  <div class="bg-white rounded-2xl shadow-xl border border-black p-10">
    <h1 class="text-3xl font-bold text-center text-[#494598] mb-6">
      Update Tournament
    </h1>
    <p class="text-lg mb-6 text-center">
      Are you sure you want to update the tournament
      <strong class="font-semibold">{{ tournament.tournament_name }}</strong>?
    </p>
    <form method="POST">
      {% csrf_token %}
      <div class="flex gap-4 justify-center">
        <button
          type="submit"
          class="bg-yellow-500 text-white font-semibold font-['Montserrat'] px-6 py-2 rounded-lg shadow hover:bg-yellow-600 transition"
        >
          Yes, Update Tournament
        </button>
        <a
          href="{% url 'tournaments:tournament-detail' tournament.id %}"
          class="bg-gray-300 text-gray-800 font-semibold font-['Montserrat'] px-6 py-2 rounded-lg shadow hover:bg-gray-400 transition"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
