{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

{# Desktop #}
<header class="mx-5">
  <div class="hidden md:flex w-full my-10 justify-center gap-5">
    <div class="relative w-[32rem] aspect-video" style="flex-shrink: 1">
      <div class="w-full h-full object-fill rounded-2xl overflow-hidden">
        <img src="{% static 'valorant.png' %}" class="object-cover">
      </div>

      {# Purple block #}
      <div class="bg-indigo-800 w-lvw h-1/2 absolute -left-[100lvw] bottom-1/2 translate-y-1/2 z-[-1]"></div>
    </div>

    <div class="my-2" style="flex-shrink: 2">
      <div class="my-2">
        <h1 class="font-bold text-4xl">Valorant Cup 2025</h1>

        <div class="flex text-red-600">
          {# Calendar #}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#D20A0A" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
          <p>20 Oktober 2025<p>
        </div>
      </div>

      <div class="my-2">
        <p class="text-gray-500 text-sm">Format</p>
        <p>5v5 Online Elimination</p>
      </div>

      <a href="/" title="Valorant Cup 2025"><p class="text-indigo-800 text-sm">← Detail turnamen</p></a>
    </div>
  </div>
</header>

{# Mobile #}
<header class="flex md:hidden flex-col items-center my-10">
  <div class="mx-5">
    <div class="relative max-w-[32rem] aspect-video">
      <div class="w-full h-full object-fill rounded-2xl overflow-hidden">
        <img src="{% static 'valorant.png' %}" class="object-cover">
      </div>

      {# Purple block #}
      <div class="bg-indigo-700 w-lvw h-1/2 absolute -left-[100lvw] bottom-1/2 translate-y-1/2 z-[-1]"></div>
    </div>
  </div>

  <div class="my-2 mx-10 text-center">
    <div class="flex flex-col items-center my-2 mx-auto">
      <h1 class="font-bold text-4xl">Valorant Cup 2025</h1>

      <div class="flex text-red-600">
        {# Calendar #}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#D20A0A" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
        <p>20 Oktober 2025<p>
      </div>
    </div>

    <div class="my-2">
      <p class="text-gray-500 text-sm">Format</p>
      <p>5v5 Online Elimination</p>
    </div>

    <a href="/" title="Valorant Cup 2025"><p class="text-indigo-700 text-sm">← Detail turnamen</p></a>
  </div>
</header>

<main class="mx-10 my-10 flex flex-col items-center">
  <form>
    <h2 class="text-indigo-800 text-xl mb-10">Daftar Kompetisi</h2>

    <div class="mb-5 xl:flex gap-8">
      <section class="mb-5">
        <h3 class="mb-2">Nama Tim</h3>
        <div class="border-gray-500 border rounded-lg">
          <div class="mx-2 flex items-center w-[32rem] h-16 gap-2">
            {# Many people icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#8b8b8b" d="M12 10a4 4 0 1 0 0-8a4 4 0 0 0 0 8m-6.5 3a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5M21 10.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0m-9 .5a5 5 0 0 1 5 5v6H7v-6a5 5 0 0 1 5-5m-7 5c0-.693.1-1.362.288-1.994l-.17.014A3.5 3.5 0 0 0 2 17.5V22h3zm17 6v-4.5a3.5 3.5 0 0 0-3.288-3.494c.187.632.288 1.301.288 1.994v6z"/></svg>
            <p class="text-sm flex-grow">Alpha Protocol</p>
            {# Edit icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#494598" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M19.09 14.441v4.44a2.37 2.37 0 0 1-2.369 2.369H5.12a2.37 2.37 0 0 1-2.369-2.383V7.279a2.356 2.356 0 0 1 2.37-2.37H9.56"/><path d="M6.835 15.803v-2.165c.002-.357.144-.7.395-.953l9.532-9.532a1.36 1.36 0 0 1 1.934 0l2.151 2.151a1.36 1.36 0 0 1 0 1.934l-9.532 9.532a1.36 1.36 0 0 1-.953.395H8.197a1.36 1.36 0 0 1-1.362-1.362M19.09 8.995l-4.085-4.086"/></g></svg>
          </div>
        </div>
      </section>
      <section class="mb-5">
        <h3 class="mb-2">Leader</h3>
        <div class="border-gray-500 border rounded-lg">
          <div class="mx-2 flex items-center w-[32rem] h-16 gap-2">
            {# Single person icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="#8b8b8b" d="M332.64 64.58C313.18 43.57 286 32 256 32c-30.16 0-57.43 11.5-76.8 32.38c-19.58 21.11-29.12 49.8-26.88 80.78C156.76 206.28 203.27 256 256 256s99.16-49.71 103.67-110.82c2.27-30.7-7.33-59.33-27.03-80.6M432 480H80a31 31 0 0 1-24.2-11.13c-6.5-7.77-9.12-18.38-7.18-29.11C57.06 392.94 83.4 353.61 124.8 326c36.78-24.51 83.37-38 131.2-38s94.42 13.5 131.2 38c41.4 27.6 67.74 66.93 76.18 113.75c1.94 10.73-.68 21.34-7.18 29.11A31 31 0 0 1 432 480"/></svg>
            <p class="text-sm flex-grow">John</p>
            {# Game controller icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 14"><path fill="#8b8b8b" fill-rule="evenodd" d="M11.047.991a.75.75 0 0 0-1.5 0v.884a.25.25 0 0 1-.25.25H8a1.75 1.75 0 0 0-1.75 1.75v.884H4.185a3 3 0 0 0-2.982 2.669l-.419 3.771a2.305 2.305 0 0 0 4.353 1.286l.363-.726h3l.363.726a2.305 2.305 0 0 0 4.353-1.286l-.42-3.771a3 3 0 0 0-2.981-2.67H7.75v-.883a.25.25 0 0 1 .25-.25h1.297a1.75 1.75 0 0 0 1.75-1.75zM4.375 6.634c.345 0 .625.28.625.625V7.8h.542a.625.625 0 1 1 0 1.25H5v.541a.625.625 0 0 1-1.25 0V9.05h-.542a.625.625 0 0 1 0-1.25h.542v-.542c0-.345.28-.625.625-.625m4.89 3.042a.625.625 0 1 0 0-1.25a.625.625 0 0 0 0 1.25M11.142 7.5a.625.625 0 1 1-1.25 0a.625.625 0 0 1 1.25 0" clip-rule="evenodd"/></svg>
            <p class="text-sm flex-grow">XxGamerTapTapxX</p>
            {# Edit icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#494598" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M19.09 14.441v4.44a2.37 2.37 0 0 1-2.369 2.369H5.12a2.37 2.37 0 0 1-2.369-2.383V7.279a2.356 2.356 0 0 1 2.37-2.37H9.56"/><path d="M6.835 15.803v-2.165c.002-.357.144-.7.395-.953l9.532-9.532a1.36 1.36 0 0 1 1.934 0l2.151 2.151a1.36 1.36 0 0 1 0 1.934l-9.532 9.532a1.36 1.36 0 0 1-.953.395H8.197a1.36 1.36 0 0 1-1.362-1.362M19.09 8.995l-4.085-4.086"/></g></svg>
          </div>
        </div>
      </section>
    </div>

    <div class="flex justify-between flex-wrap">
      <div>
        <button class="w-64 h-16 bg-red-500 rounded-2xl">
          <p class="text-white">Bubarkan Tim</p>
        </button>
      </div>
      <div>
        <button class="w-64 h-16 bg-indigo-800 rounded-2xl">
          <p class="text-white">Perbarui Data Tim</p>
        </button>
      </div>
    </div>
  </form>
</main>

{% include 'footer.html' %}
{% endblock content %}
