{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

{# Desktop #}
<header class="mx-5">
  <div class="hidden md:flex w-full my-10 justify-center gap-5">
    <div class="relative w-[32rem] aspect-video" style="flex-shrink: 1">
      <div class="w-full h-full object-fill rounded-2xl overflow-hidden">
        <img src="{% static 'valorant.png' %}" class="object-cover">
      </div>

      {# Purple block #}
      <div class="bg-indigo-800 w-lvw h-1/2 absolute -left-[100lvw] bottom-1/2 translate-y-1/2 z-[-1]"></div>
    </div>

    <div class="my-2" style="flex-shrink: 2">
      <div class="my-2">
        <h1 class="font-bold text-4xl">Valorant Cup 2025</h1>

        <div class="flex text-red-600">
          {# Calendar #}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#D20A0A" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
          <p>20 Oktober 2025<p>
        </div>
      </div>

      <div class="my-2">
        <p class="text-gray-500 text-sm">Format</p>
        <p>5v5 Online Elimination</p>
      </div>

      <a href="/" title="Valorant Cup 2025"><p class="text-indigo-800 text-sm">← Detail turnamen</p></a>
    </div>
  </div>
</header>

{# Mobile #}
<header class="flex md:hidden flex-col items-center my-10">
  <div class="mx-5">
    <div class="relative max-w-[32rem] aspect-video">
      <div class="w-full h-full object-fill rounded-2xl overflow-hidden">
        <img src="{% static 'valorant.png' %}" class="object-cover">
      </div>

      {# Purple block #}
      <div class="bg-indigo-700 w-lvw h-1/2 absolute -left-[100lvw] bottom-1/2 translate-y-1/2 z-[-1]"></div>
    </div>
  </div>

  <div class="my-2 mx-10 text-center">
    <div class="flex flex-col items-center my-2 mx-auto">
      <h1 class="font-bold text-4xl">Valorant Cup 2025</h1>

      <div class="flex text-red-600">
        {# Calendar #}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#D20A0A" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
        <p>20 Oktober 2025<p>
      </div>
    </div>

    <div class="my-2">
      <p class="text-gray-500 text-sm">Format</p>
      <p>5v5 Online Elimination</p>
    </div>

    <a href="/" title="Valorant Cup 2025"><p class="text-indigo-700 text-sm">← Detail turnamen</p></a>
  </div>
</header>

<main class="mx-10 flex flex-col items-center">
  <div>
    <h2 class="text-indigo-800 text-xl mb-10">Daftar Kompetisi</h2>

    <div class="mb-5 md:flex gap-8">
      <section class="mb-5">
        <h3 class="mb-2">Nama Tim</h3>
        <div class="border-gray-500 border rounded-lg">
          <div class="mx-2 flex items-center w-[32rem] h-16 gap-2">
            {# Many people icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#8b8b8b" d="M12 10a4 4 0 1 0 0-8a4 4 0 0 0 0 8m-6.5 3a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5M21 10.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0m-9 .5a5 5 0 0 1 5 5v6H7v-6a5 5 0 0 1 5-5m-7 5c0-.693.1-1.362.288-1.994l-.17.014A3.5 3.5 0 0 0 2 17.5V22h3zm17 6v-4.5a3.5 3.5 0 0 0-3.288-3.494c.187.632.288 1.301.288 1.994v6z"/></svg>
            <p class="text-sm flex-grow">Alpha Protocol</p>
          </div>
        </div>
      </section>
      <section class="mb-5">
        <h3 class="mb-2">Leader</h3>
        <div class="border-gray-500 border rounded-lg">
          <div class="mx-2 flex items-center w-[32rem] h-16 gap-2">
            {# Many people icon #}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#8b8b8b" d="M12 10a4 4 0 1 0 0-8a4 4 0 0 0 0 8m-6.5 3a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5M21 10.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0m-9 .5a5 5 0 0 1 5 5v6H7v-6a5 5 0 0 1 5-5m-7 5c0-.693.1-1.362.288-1.994l-.17.014A3.5 3.5 0 0 0 2 17.5V22h3zm17 6v-4.5a3.5 3.5 0 0 0-3.288-3.494c.187.632.288 1.301.288 1.994v6z"/></svg>
            <p class="text-sm text-gray-500">Masukkan nama tim Anda</p>
          </div>
        </div>
      </section>
    </div>
    <div>
      <h3>Member</h3>
      <div>
        <img src="pipol">
        <p>Masukkan nama tim Anda</p>
      </div>
    </div>
  </div>
</main>

<button><p>Bubarkan Tim</p></button>
<button><p>Perbarui Data Tim</p></button>

{% include 'footer.html' %}
{% endblock content %}
