{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

{# Desktop #}
<header class="mx-5">
  <div class="hidden md:flex w-full my-10 justify-center space-x-5">
    <div class="relative shrink-0">
      <img src="{% static 'valorant.png' %}" class="w-96 h-auto">
      {# Purple block #}
      <div class="bg-indigo-700 w-lvw h-1/2 absolute -left-[100lvw] bottom-1/2 translate-y-1/2 z-[-1]"></div>
    </div>

    <div class="my-2">
      <div class="my-2">
        <h1 class="font-bold text-4xl">Valorant Cup 2025</h1>

        <div class="flex text-red-700">
          {# Calendar #}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#D20A0A" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
          <p>15 – 20 Oktober 2025<p>
        </div>
      </div>

      <div class="my-2">
        <p class="text-gray-500 text-sm">Format</p>
        <p>5v5 Online Elimination</p>
      </div>

      <a href="/" title="Valorant Cup 2025"><p class="text-indigo-700 text-sm">← Detail turnamen</p></a>
    </div>
  </div>
</header>

{# Mobile #}
<header class="flex md:hidden flex-col items-center my-10">
  <div class="relative shrink-0 width-auto mx-5">
    <img src="{% static 'valorant.png' %}" class="w-96 h-auto">
    {# Purple block #}
    <div class="bg-indigo-700 w-lvw h-1/2 absolute -left-[100lvw] bottom-1/2 translate-y-1/2 z-[-1]"></div>
  </div>

  <div class="my-2 mx-5 text-center">
    <div class="flex flex-col items-center my-2 mx-auto">
      <h1 class="font-bold text-4xl">Valorant Cup 2025</h1>

      <div class="flex text-red-700">
        {# Calendar #}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#D20A0A" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/></svg>
        <p>15 – 20 Oktober 2025<p>
      </div>
    </div>

    <div class="my-2">
      <p class="text-gray-500 text-sm">Format</p>
      <p>5v5 Online Elimination</p>
    </div>

    <a href="/" title="Valorant Cup 2025"><p class="text-indigo-700 text-sm">← Detail turnamen</p></a>
  </div>
</header>

<section class="m-auto">
  <h2>Daftar Kompetisi</h2>
  <section>
    <h3>Nama Tim</h3>
    <div>
      <img src="pipol">
      <p>Masukkan nama tim Anda</p>
    </div>
  </section>
  <section>
    <h3>Leader</h3>
    <div>
      <img src="pipol">
      <p>John Bruski</p>
    </div>
  </section>
  <section>
    <h3>Member</h3>
    <div>
      <img src="pipol">
      <p>Masukkan nama tim Anda</p>
    </div>
  </section>
</section>

<button><p>Bubarkan Tim</p></button>
<button><p>Perbarui Data Tim</p></button>

{% include 'footer.html' %}
{% endblock content %}
