{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Fixed Navbar -->
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <main class="flex-grow pt-16">
      {% block content %}{% endblock content %}
    </main>

    <!-- Toasts, Footers, etc -->
    {% include 'tournament_invite/_toast_poll.html' %}
    {% include 'footer.html' %}
  </body>
</html>
